systemLog:
  destination: file
  path: "/var/log/mongodb/mongod-config.log"
  logAppend: true
storage:
  dbPath: /data/mongod-config
  journal:
    enabled: true
replication:
  replSetName: config
net:
  bindIp: {{bind_ip}},127.0.0.1
  port: 27019
setParameter:
  enableLocalhostAuthBypass: false