---
# handlers file for mongo-data
- name: reload supervisor
  become: true
  command: supervisorctl reload
- name: start mongod-config
  become: true
  supervisorctl: name=mongod-config state=restarted
