sharding:
  clusterRole: shardsvr
systemLog:
  destination: file
  path: "/var/log/mongodb/mongod-shard.log"
  logAppend: true
storage:
  dbPath: /data/mongod-shard
  journal:
    enabled: true
replication:
  replSetName: {{shard_id}}
net:
  bindIp: {{bind_ip}},127.0.0.1
  port: 27018
setParameter:
  enableLocalhostAuthBypass: false