systemLog:
  destination: file
  path: "/var/log/mongodb/mongos.log"
  logAppend: true
processManagement:
  fork: true
net:
  bindIp: {{bind_ip}},127.0.0.1
  port: 27017
sharding:
  configDB: config/
{%- for host in groups.config -%}
    private-{{hostvars[host].do_name}}:{{config_port}}
    {%- if not loop.last %},{% endif -%}
{%- endfor %}

setParameter:
  enableLocalhostAuthBypass: false