---
# tasks file for shard-primary
- name: Install script
  become: true
  template: src=sharding-config.js.j2 dest=/home/ansible/sharding-config.js
- name: Initialize sharded cluster
  command: mongo /home/ansible/sharding-config.js
