---
# handlers file for mongo-data
- name: reload supervisor
  become: true
  command: supervisorctl reload
- name: start mongod-shard
  become: true
  supervisorctl: name=mongod-shard state=restarted
