var cfg = {
  _id : "{{rs_name}}",
  members: [
{% for host in groups[rs_name] %}
  {
    _id: {{loop.index}},
    host: "private-{{hostvars[host].do_name}}:{{shardsvr_port}}",
    priority: {{2 if loop.index == 1 else 1}}
  }{% if not loop.last %},
  {% endif %}
{% endfor %}
 ]
}

try {
  rs.initiate(cfg)
} catch(e) {
  rs.reconfig(cfg, {force: true})
}
